:root {
    --font-size-title: 5rem;
    --bg-gradiente:linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
    --bg-body:rgb(34,34,34);
    --box-shadow-default: 10px 10px 10px lightgray;
    --text-color: red;
}

.light-theme {
    --bg-body:rgb(230, 230, 230);
    --bg-gradiente:linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
    
}

.dark-theme {
    --bg-body:rgb(34,34,34);
    --bg-gradiente:linear-gradient(90deg, #fc466b 0%, #daae51 100%);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-body);
    text-align: center;
}

h1{
    background: var(--bg-gradiente);
    font-size: 5em;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

a {
    text-decoration: none;
    background: var(--bg-gradiente);
    padding: 8px 14px;
    border-radius: 5px;
    color: white;
    box-shadow: var(--box-shadow-default);

}

p {
  color: var(--text-color);  
}

.title {
    background: var(--bg-gradiente);
    font-size: var(--font-size-title);
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    max-width: 500%;
    margin: 100px auto;

}

/*Bem css*/

.menu {
    background-color: rgb(30,30,30);

}

.menu__list {
    margin: 0;
    padding: 24px 0;
}

.menu__item {
    display: inline-block;
    color: white;
    margin: 0 16px
}

.menu__link {
    color: white;
    background: var(--bg-gradiente);
    padding: 12px 14px;
    border-radius: 5px;
    text-decoration: none;
    
}

.menu__item--active {
    font-weight: bold;
    color:#3f5efb
}