/* ===============================
   NOTEBOOKS
================================= */

@media (max-width:1200px){

    main{

        grid-template-columns:1fr;

    }

    .sidebar{

        margin-top:30px;

        display:grid;

        grid-template-columns:repeat(2,1fr);

        gap:20px;

    }

}


/* ===============================
   TABLETS
================================= */

@media (max-width:900px){

    header{

        padding:0 15px;

    }

    .center{

        width:55%;

    }

    .video-actions{

        flex-direction:column;

        align-items:flex-start;

        gap:20px;

    }

    .actions{

        flex-wrap:wrap;

        gap:15px;

    }

    .sidebar{

        grid-template-columns:1fr;

    }

}


/* ===============================
   CELULARES
================================= */

@media (max-width:768px){

    header{

        padding:0 10px;

    }

    .logo{

        width:95px;

    }

    .center{

        width:45%;

    }

    .center input{

        height:36px;

        font-size:14px;

    }

    .center button{

        width:50px;
        height:36px;

    }

    .right{

        gap:12px;

    }

    .right i{

        font-size:18px;

    }

    main{

        padding:15px;

    }

    .video-area h2{

        font-size:20px;

    }

    .card{

        flex-direction:column;

    }

    .card img{

        width:100%;
        height:200px;

    }

}


/* ===============================
   CELULARES PEQUENOS
================================= */

@media (max-width:480px){

    header{

        height:56px;

    }

    .center{

        display:none;

    }

    .logo{

        width:90px;

    }

    .menu{

        font-size:22px;

    }

    .right img{

        width:30px;
        height:30px;

    }

    main{

        margin-top:70px;

        padding:10px;

    }

    .video-area h2{

        font-size:18px;

    }

    .subscribe{

        width:100%;

    }

    .actions{

        display:grid;

        grid-template-columns:repeat(2,1fr);

        gap:15px;

    }

    .actions span{

        justify-content:center;

    }

}