/* ===========================
   Notebook
=========================== */

@media (max-width: 1400px){

    .videos{

        grid-template-columns:repeat(3,1fr);

    }

}

/* ===========================
   Tablet
=========================== */

@media (max-width: 992px){

    .videos{

        grid-template-columns:repeat(2,1fr);

    }

    .content{

        margin-left:80px;

        width:calc(100% - 80px);

    }

    .sidebar{

        width:80px;

    }

    .sidebar span{

        display:none;

    }

    .sidebar li{

        justify-content:center;

    }

}

/* ===========================
   Celular
=========================== */

@media (max-width:768px){

    header{

        padding:0 10px;

    }

    .center-header{

        display:none;

    }

    .sidebar{

        display:none;

    }

    .content{

        margin-left:0;

        width:100%;

        padding:15px;

    }

    .videos{

        grid-template-columns:1fr;

    }

}