

.navbar-brand {
    width: 50px;
}

.btn.btn-primary {
    background-color: #198754;
    border-color: #198754;
    color: #ffffff;
    --bs-btn-bg: #198754;
    --bs-btn-border-color: #198754;
    --bs-btn-active-bg: #198754;
}

/* tamanho do carrossel */
.carousel-item {
    height: 500px; 
}

.carousel-item img {
    object-fit: cover; 
    height: 100%; 
    object-position: center;
}

.carousel-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgb(31,31,31));
   
}
