@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Kode+Mono:wght@400..700&family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');
*{
    font-family:lobster 
    ;
    
    font-style: italic;
}

#tamanho{
    font-size: 30px;
}

#xxsmall{
    font-size: x-small;
}