.container {
    background: rgb(105, 221, 105);
    padding: 20px;
    display: flex;
}

.item {
    background: rgb(230, 19, 99);
    margin: 10px;
}

#container-01 {
    flex-direction: row;
}

#container-02 {
    flex-direction: column;
}   
